

span.status span {
   display: inline-block;
   width:16px;
   height: 16px;
}

span.dirty {
   background-image: url('warning.png');
}

span.saved {
   background-image: url('ok.png');
}

span.error {
   background-image: url('error.png');
}

.error {
    border: 1px solid red;
}

th.mandatory:after {
    content: "(*)";
}

ol.sfk-autocomplete-results {
    list-style-type:none;
    background-color: white;
    margin:0;
    padding:2px;
    width:120px;
    border: 1px solid lightgray;
}

ol.sfk-autocomplete-results li a {
    width: 100%;
    display: block;
}

ol.sfk-autocomplete-results li a:hover, ol.sfk-autocomplete-results li a.selected {
    background-color: #1c94c4;
    color: white;
}

div.sfk-tooltip {
    display: block;
    border: 1px solid lightgray;
    max-width: 300px;
}

div.sfk-tooltip h3 {
    padding: 2px;
    margin: 0;
    background-color: lightgray;
}
