

span.status span {
   display: inline-block;
   width:16px;
   height: 16px;
}

span.dirty {
   background-image: url('warning.png');
}

span.saved {
   background-image: url('ok.png');
}

.error {
    border: 1px solid red;
}

th.mandatory:after {
    content: "(*)";
}